.main-sidebar{ 
    background-color: #6a3f0f !important;
}
.main-header { 
    background-color: #6a3f0f !important;
}
.logo { 
    background-color: #6a3f0f !important;
}
.navbar { 
    background-color: #6a3f0f !important;
}
.content-wrapper{
    background-color: #dee9f7 !important;    
}

.user-header {
    background-color: #6a3f0f !important; 
}